@page "/articles/{SectionRef}/{ArticleRef}"

@using Services

@inject HttpClient Http
@inject IArticlesService dataService
@inject IMarkdownService markdownService

@if (section == null || article == null)
{
    <div class="loading">Loading...</div>
} else
{
    <h1><span class="sectionIcon oi @section.Glyph" aria-hidden="true"></span>@article.Title</h1>

    @if (!string.IsNullOrEmpty(article.PdfUrl)) {
            <div style="float:right">
            <a href=@article.PdfUrl target="new" title="Download as PDF">
                Download as PDF
                <span class="oi oi-cloud-download" aria-hidden="true"></span>                    
            </a>
            </div>
        }

    <h5>
        @section.Title
    </h5>

    <div>
        <web.Controls.MarkdownView ContentUrl="@article.ContentUrl"/>
    </div>
}

@code {

    [Parameter]
    public string SectionRef { get; set; }

    [Parameter]
    public string ArticleRef { get; set; }

    private Models.Section section;
    private Models.Article article;

    protected override async Task OnParametersSetAsync()
    {
        section = await dataService.GetSection(SectionRef);
        article = section.Articles.FirstOrDefault(a => a.Reference == ArticleRef);
    }
}