@page "/"

<div class="jumbotron">
    <div style="float:right; width:40%">
        <p>Tasked by the United Worlds government to travel from star system to
        star system...<br/>
        <br/>
        Dealing with dangers on different planets...
        <span style="text-align:right;font-weight:bold">with
        extreme predjudice!</span></p>
    </div>
    <div>
        <img src="images/eagle-logo-huge.png" style="float:left" />
        <h1>5<sup>th</sup> Company</h1>
        <h3>IV Field Regiment<br />
            Colonial Marine Corps</h3>
    </div>
</div>

<h3>About the 5-Coy CMC Archive</h3>

<p>From 1988 to 1996, a group of fun-loving LARP players came together
     in a unique science-ficion universe to act out the adventures of
     the 5<sup>th</sup> Company of the IV Field Regiment Colonial Marine Corps. 
     Set in the year 2488 onwards,
     5-Coy battled corporations, genetically engineered soldiers, their
     own selves from a parallel dimension, and even (possibly) aliens as 
     they strived to protect people of the United Worlds - whether they
     wanted 5-Coy's help or not.</p>

<p>Professionally run by first Event Horizons, and later its successor
    Dark Horizons, the games were unique at the time in providing a
    fully imersive experience - from Friday night to Sunday afternoon the
    players would <strong><i>be</i></strong> members of the Corps.</p>

<p>This website is an archive of all the in &amp; out of character information
    that has been collected to date - mission reports, briefing packs, 
    training materials, or whatever. Scanned at high resolution and converted
    for the web using OCR and AI, or re-created from the original source
    files, it's a searchable guide to the universe of the United Worlds - so 
    everyone can share the stories we created a quarter century ago in the
    25th Century.</p>

<h3>Contact Us</h3>

  <p>This site was created and is currently maintained by
     <a href="mailto:joel@hammond-turner.org.uk">Joel Hammond-Turner</a>.</p>

  <p><a href="https://www.facebook.com/groups/261541030366/" target="_new"
        title="Check out our Facebook Group">
        <i style="float:left; margin-right:0.5em;" class="si-square si-coloured si-facebook"></i>
     </a>

     If you're an ex-player, then the best way to get involved (and back in
       touch with the "old crowd" is to check out our
       <a href="https://www.facebook.com/groups/261541030366/" target="_new"
             title="Check out our Facebook Group">Facebook Group</a>.</p>

