@page "/"

<div class="jumbotron">
    <div>
        <img src="images/eagle-logo-huge.png" style="float:left" />
        <h1>5<sup>th</sup> Company</h1>
        <h3>IV Field Regiment Colonial Marine Corps</h3>
    </div>
    <div style="clear:left">
        <p>Tasked by the United Worlds government to travel from star system to
        star system...<br/>Dealing with dangers on different planets...
        <span style="text-align:right;font-weight:bold">with
        extreme predjudice!</span></p>
    </div>
</div>

