@page "/missions"

@using Models
@inject HttpClient Http

<h1><span class="sectionIcon oi oi-flag" aria-hidden="true"></span>Missions</h1>
<div>
    <web.Controls.MarkdownView ContentUrl="/content/missions.md"/>
</div>

@if (missions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Location</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mission in missions.OrderBy(m => m.StartDate))
            {
                <web.Controls.MissionTableRow Mission=@mission />
            }
        </tbody>
    </table>
}

@code {
    private Mission[] missions;

    protected override async Task OnInitializedAsync()
    {
        missions = await Http.GetFromJsonAsync<Mission[]>("data/missions.json");
    }
}
