@page "/articles"

@using Services

@inject HttpClient Http
@inject IArticlesService service

<web.Shared.PageTitle Title="Sections" />

<h1>Sections</h1>

@if (sections == null) {
    <div class="loading">Loading...</div>
} else {
    <div class="row">
    @foreach (var section in sections)
    {
        <div class="col-md-6">
            <span class="oi @(section.Glyph)" aria-hidden="true"></span>
            <span class="lead"><a href="@(section.Url)">@(section.Title)</a></span>
        </div>
    }
    </div>
}

@code {

    private Models.Section[] sections;

    protected override async Task OnParametersSetAsync()
    {
        sections = await service.GetSections();
    }
}