@inject HttpClient Http

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">5-Coy CMC Archive</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @if (sections != null)
        {
            @foreach (var section in sections.OrderBy(s => s.Title))
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link section-link" href=@section.Url>
                        <span class="oi @section.Glyph" aria-hidden="true"></span>
                        @section.Title
                    </NavLink>
                </li>
            }
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private Section[] sections;

    protected override async Task OnInitializedAsync()
    {
        sections = await Http.GetFromJsonAsync<Section[]>("data/articles.json");
    }

    public class Section
    {
        public string Title { get; set;}
        public string Glyph { get; set; }
        public string Url { get; set; }
    }
}
