<h3>About 5-Coy</h3>

<div class="jumbotron">
  <img src="images/eagle-logo-huge.png" />
<h2>5th Company - IV Field Regiment of the Colonial Marine Corps</h2>
<p>Tasked by the United Worlds government to travel from star system to
   star system - dealing with dangers on different planets - with
   extreme predjudice.</p>
</div>

<div class="row">
  <p>From 1988 to 1996, a group of fun-loving LARP players came together
     in a unique science-ficion universe to act out the adventures of
     the 5th Company Colonial Marine Corps. Set in the year 2488 onwards,
     5-coy battled corporations, genetically engineered soldiers, their
     own selves from a parallel dimension, and even aliens as they strived
     to protect the United Worlds.</p>
  <p>Professionally run by first Event Horizons, and later its successor
     Dark Horizons, the games were unique at the time in providing a
     fully imersive experience - from Friday night to Sunday afternoon the
     players would <strong>be</strong> members of the Corps.</p>
  <p>This is an archive of all the in and out of character information
     that exists still - mission reports, briefing packs, training
     materials, or whatever. Scanned at high resolution, we intend on
     using OCR to create searcheable HTML versions of the text - so we
     can share the stories that we created a quarter century ago in the
     25th Century.</p>
</div>

<div class="row">
</div>
