<h3>Contact Us</h3>

<div class="row">
  <p>This site was created and is currently maintained by
     <a href="mailto:joel@hammond-turner.org.uk">Joel Hammond-Turner</a>.</p>

  <p><a href="https://www.facebook.com/groups/261541030366/" target="_new"
        title="Check out our Facebook Group">
        <i style="float:left; margin-right:0.5em;" class="si-square si-coloured si-facebook"></i>
     </a>

     If you're an ex-player, then the best way to get involved (and back in
       touch with the "old crowd" is to check out our
       <a href="https://www.facebook.com/groups/261541030366/" target="_new"
             title="Check out our Facebook Group">Facebook Group</a>.</p>

</div>
